@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
  --color-white: #f2f2f2;             /* fundo e cor das letras no header */
  --color-black: #0d0d0d;            /* letras e outros detalhes */
  --color-shades: #730202;          /* passar o mouse */
  --color-red: #a60303;            /* header */
  --color-light-red: #f20505;     /* detalhes */
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}

header {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 15px;
  display: flex;
  font-size: 17px;
  line-height: 27px;
}

header a {
  text-decoration: none;
  color: var(--color-white)
}

header a:hover {
  color: rgba(242, 242, 242, 0.9);
}

header h2 {
  margin-right: 230px;
}

header .links-header {
  text-align: center;
}

header .links-header a {
  margin-right: 30px;
  text-decoration: none;
  color: rgba(242, 242, 242, 0.5);
}

header .links-header a:hover {
  background-color: var(--color-shades);
  color: var(--color-white);
  border-radius: 2px;
  border-bottom: solid 2px var(--color-white);
  transition: color 400ms 400px;
  padding: 20px;
}


#content {
  max-width: 700px;
  text-align: center;
  margin-top: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#content details {
  margin-top: 10px;
  margin-bottom: 30px;
}

#content .video2 img {
  max-width: 250px;
  border-radius: 5%;
  border: solid 2px var(--color-light-red);
}

#content h3 {
  margin-top: 10px;
  font-size: 22px;
  line-height: 32px;
}

.poem p#one {
  font-size: 20px;
  line-height: 30px;
}

.poem p#two {
  background-color: var(--color-shades);
  color: var(--color-white);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 27px;
}

footer {
  margin-top: 30px;
  padding-bottom: 5px;
  background-color: var(--color-red);
}

footer .links-footer {
  display: flex;
  justify-content: center;
}

footer .links-footer svg {
  text-decoration: none;
  padding: 1px;
  display: block;
}

footer .links-footer a {
  padding: 1px;
}

footer .links-footer .she svg:hover {
  border-radius: 2px;
  border-bottom: solid 2px var(--color-white);
  transition: color 400ms 400px;
  padding: 2px;
}

footer .links-footer .she-he {
  margin: auto 27px;
}

footer .links-footer .he {
  margin: auto 0;
}

footer .links-footer .he svg:hover {
  border-radius: 2px;
  border-bottom: solid 2px var(--color-white);
  transition: color 400ms 400px;
  padding: 2px;
}


/*===  PHOTOS  ===*/


#contents {
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#contents h2 {
  margin-top: 30px;
  font-size: 27px;
  line-height: 37px;
}

#contents p {
  margin-top: 5px;
  font-size: 20px;
  line-height: 30px;
}

.photos {
  margin-top: 30px;
  padding: 30px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  border-radius: 10px;
}

.photos .photo img {
  max-width: 200px;
  border-radius: 15px;
}

#contents .photo-description p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}


#modal-photos {
  background-color: rgba(13, 13, 13, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

#modal-photos .modals-photos {
  background-color: var(--color-white);
  width: 660px;
  height: 413px;
  margin: 102px auto 5vh auto;
  padding: 30px;
  border: solid 3px var(--color-light-red);
  border-radius: 30px;
  position: relative;
  text-align: center;
}


#modal-photos .modals-photos .modal-img img {
  max-width: 250px;
  max-height: 350px;
  border-radius: 15px;
  margin-bottom: 35px;
}

#modal-photos .modals-photos .close-modal {
  color: var(--color-light-red);
  cursor: pointer;
  font-size: 20px;
}


#modal-photos .modals-photos a:hover.close-modal {
  background-color: var(--color-light-red);
  color: var(--color-white);
  opacity: 0.8;
  padding: 8px;
  border-radius: 10px;
  transition: 300ms;
}


/*== MODAL PHOTOS ACTIVE ==*/

#modal-photos.active {
  opacity: 1;
  visibility: visible;
}



/*== FORM ==*/



#form {
  background-color: white;
  max-width: 1200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 20px;
  color: var(--color-black);
}

#form h3 {
  text-align: center;
  font-size: 25px;
  line-height: 35px;
}

#form .questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

#form .questions .question {
  margin: 15px 0;
}

#form .questions .question label {
  font-size: 15px;
  line-height: 25px;
}

#form .questions .question input[type="text"] {
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  width: 430px;
  border: 2px solid var(--color-light-red);
}

#form .questions .question select {
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  width: 460px;
  border: 2px solid var(--color-light-red);
  cursor: pointer;
}

#form .questions .question .radio1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  margin-top: 5px;
  width: 400px;
}

#form .questions .question .radio1 input[type="radio"] {
  cursor: pointer;
}

#form .questions .question .checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 450px;
  padding: 5px;
  margin-top: 5px;
}

#form .questions .question .checkbox input[type="checkbox"] {
  margin: 6px;
  cursor: pointer;
}

#form .questions .question .radio2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
  padding: 5px;
  width: 500px;
}

#form .questions .question .radio2 input[type="radio"] {
  margin: 6px;
  cursor: pointer;
}

#form .questions .question .checkbox2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
  padding: 5px;
  width: 560px;
}

#form .questions .question .checkbox2 input[type="checkbox"] {
  margin: 6px;
  cursor: pointer;
}

#form #bottom {
  text-align: center;
  margin-top: 10px;
}

#form #bottom input {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-black);
  background-color: white;
}

#form #bottom input:hover {
  background-color: var(--color-light-red);
  color: var(--color-white);
  transition: 700ms;
}



/*== TABLE ==*/

h3 {
  font-size: 25px;
  line-height: 35px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

table {
  margin: 0 auto;
  text-align: center;
  overflow:hidden;
  border-collapse:separate;
  border: 2px solid var(--color-light-red);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}


table td {
  border: 1px solid var(--color-light-red);
  background-color: white;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  width: 220px;
  height: 60px;
  cursor: default;
}


/*== MODAL SONGS ==*/


#modal-songs {
  background-color: rgba(13, 13, 13, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

#modal-songs .modal-song {
  background-color: var(--color-white);
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
  border-radius: 20px;
  border: 2px solid var(--color-light-red);
}

#modal-songs .modal-song .close-song {
  color: var(--color-shades);
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

#modal-songs .modal-song .close-song i:hover {
  background-color: var(--color-shades);
  color: var(--color-white);
  padding: 1px;
  border-radius: 10px;
}


/*==  ACTIVE MODAL SONGS ==*/

#modal-songs.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  position: absolute;
  width: 100%;
  height: 95%;
  top: 5%;
  border-radius: 20px;
}

.spotify {
  margin: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  font-weight: bolder;
}

.spotify p svg {
  margin-top: 10px;
}